/*Footer Adhesivo*/
html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

main {
    height: 100%;
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
}

.progress{
    margin: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 9999999;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    padding: 10px;
}

#map {
    z-index: 10;
}

#map div div div form input {
    height: 15px;
    padding: 0;
    margin: 0;
}

.card-image.position-center img{
    height: 100%;
}

.bring_to_front-mobile{
    z-index: 9000;
}

.sidebar{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(0,96,100,.6);
    z-index: 11;
    padding: 150px;
      
    display: none;
    transition: all .5s;
}

.sidebar.visible{
    box-shadow: -8px 0 17px 0 rgba(0,0,0,0.2),-6px 0 20px 0 rgba(0,0,0,0.19);
    display: block;
}

.sidebar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-sidebar-content{
    max-width: 50%;
}

.fix-box-shadow-footer{
    box-shadow: 0 -8px 17px 0 rgba(0,0,0,0.2),0 -6px 20px 0 rgba(0,0,0,0.19);
}
/*####### FLOAT FORM ############################################################################################################*/
/* label color */
.aside-form.input-field label {
    color: #b2ebf2;
}

.aside-form.input-field {
    color: #e0f7fa;
}

/* label focus color */
.aside-form.input-field input:focus + label {
    color: #e0f7fa;
}
/* label underline focus color */
.aside-form.input-field input:focus {
    border-bottom: 1px solid #e0f7fa ;
    box-shadow: 0 1px 0 0 #e0f7fa ;
}
/* label underline color */
.aside-form.input-field input {
    border-bottom: 1px solid #b2ebf2 ;
    box-shadow: 0 1px 0 0 #b2ebf2 ;
}
/* valid color */
.aside-form.input-field input.valid {
    border-bottom: 1px solid #b2ebf2;
    box-shadow: 0 1px 0 0 #b2ebf2;
}
/* invalid color */
.aside-form.input-field input.invalid {
    border-bottom: 1px solid #00b8d4 ;
    box-shadow: 0 1px 0 0 #00b8d4 ;
}
/* icon prefix focus color */
.aside-form.input-field .prefix.active {
    color: #e0f7fa;
}
/* icon prefix color */
.aside-form.input-field .prefix {
    color: #b2ebf2;
}
.fix-prefix-position{
    top:20%;
}
.aside-form.button {
    color: #b2ebf2;
    background: #006064;
}
/*##############################################################################################################################*/
.cartodb-logo, .leaflet-control-attribution, .leaflet-control{
    display: none;
    opacity: 0;
}

.text-justify{
    text-align: justify;
}

#search{
    margin: 0px;
    width: auto;
}

div.cartodb-searchbox{
    float: left;
    margin: 100px 0 0 20px;
    background: rgba(0,0,0,.0);
}

div.cartodb-zoom{
    float: left;
    margin: 150px 0 0 -140px;
    background: rgba(0,0,0,.0);   
}

div.cartodb-zoom a.zoom_in{
    border-bottom: 1px solid #aaa;
}

div.cartodb-zoom a{
    width: 26px;
}