/*Footer Adhesivo*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.progress{
    margin: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

footer.page-footer{
    margin-top: 0px;
}

#map {
    height: 500px;
    padding: 0;
    margin: 0;
}

#map div div div form input {
    height: 15px;
    padding: 0;
    margin: 0;
}

.limit-height{
    height: 200px;
}

.bring_to_front{
    z-index: 900;
}

.sidebar{
    float:right;
    width: 400px;
    height: 100%;
    display: block;
    background: rgba(0,96,100,.6);
      
    transform: translateX(100%);
    transition: all .2s;
}

.sidebar.visible{
    box-shadow: -8px 0 17px 0 rgba(0,0,0,0.2),-6px 0 20px 0 rgba(0,0,0,0.19);
    
    transform: translateX(0);
}

.sidebar-container{
    padding: 20px;
}

.fix-box-shadow-footer{
    box-shadow: 0 -8px 17px 0 rgba(0,0,0,0.2),0 -6px 20px 0 rgba(0,0,0,0.19);
}
/*####### FLOAT FORM ############################################################################################################*/
/* label color */
.aside-form.input-field label {
    color: #b2ebf2;
}

.aside-form.input-field {
    color: #e0f7fa;
}

/* label focus color */
.aside-form.input-field input:focus + label {
    color: #e0f7fa;
}
/* label underline focus color */
.aside-form.input-field input:focus {
    border-bottom: 1px solid #e0f7fa ;
    box-shadow: 0 1px 0 0 #e0f7fa ;
}
/* label underline color */
.aside-form.input-field input {
    border-bottom: 1px solid #b2ebf2 ;
    box-shadow: 0 1px 0 0 #b2ebf2 ;
}
/* valid color */
.aside-form.input-field input.valid {
    border-bottom: 1px solid #b2ebf2;
    box-shadow: 0 1px 0 0 #b2ebf2;
}
/* invalid color */
.aside-form.input-field input.invalid {
    border-bottom: 1px solid #00b8d4 ;
    box-shadow: 0 1px 0 0 #00b8d4 ;
}
/* icon prefix focus color */
.aside-form.input-field .prefix.active {
    color: #e0f7fa;
}
/* icon prefix color */
.aside-form.input-field .prefix {
    color: #b2ebf2;
}
.fix-prefix-position{
    top:20%;
}
/*##############################################################################################################################*/
.cartodb-logo, .leaflet-control-attribution, .leaflet-control{
    opacity: 0;
}

#search{
    margin: 0px;
    width: auto;
}

div.cartodb-searchbox{
    float: left;
    margin: 20px 0 0 20px;
    background: rgba(0,0,0,.0);
}

div.cartodb-zoom{
    float: left;
    margin: 70px 0 0 -140px;
    background: rgba(0,0,0,.0);   
}

div.cartodb-zoom a.zoom_in{
    border-bottom: 1px solid #aaa;
}

div.cartodb-zoom a{
    width: 26px;
}

