/*Footer Adhesivo*/
html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

main {
    height: 100%;
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
}

.progress{
    margin: 0px;
    background: #00838f;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 9999999;
}

.progress .determinate{
    background: #004547; 
}

.fix-row-explore{
    margin-bottom: 0px;
}

.fix-level-filter-explore{
   z-index: -1;
}

.background-filters{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    max-height: 100%;
    padding: 10px 10px 180px 10px;
    width: 100%;
    overflow-y: auto;
    clear: both;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    padding: 10px;
}

#map {
    z-index: 10;
}

#map div div div form input {
    height: 15px;
    padding: 0;
    margin: 0;
}

.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content{
    max-width: 50%;
}

.bring_to_front-mobile{
    z-index: -1;
}

#mobile-demo{
    background: #00838f;
}

#mobile-demo li{
    padding: 0px;
}

#mobile-demo li:hover, #mobile-demo li.active {
    background-color: rgba(0,0,0,.3); }

#mobile-demo a{
    color: white;
}

.mobile-sidebar{
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
}

.mobile-sidebar-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(0,96,100,.6);
    z-index: 11;
    padding: 150px;
      
    display: none;
    transition: all .5s;
}

.sidebar.visible{
    display: block;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0, 0, 0, 0.3); 
}

.input-field input[type=search]:focus {
    color: #fff; }

.input-field input[type=search]:focus + label i, .input-field input[type=search]:focus ~ .mdi-navigation-close {
    color: #fff; }

.explore-aside{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(0,96,100,.6);
    z-index: 11;
    padding-top: 133px;

    display: none;
    transition: all .5s;
}

.explore-aside.visible{
    display: block;
}

.card:hover{
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.sub-bar{
    position: fixed;
    width: 100%;
    top: 68px;
    left: 0px;
    height: 64px;
    background: rgba(0,96,100,.6);
    z-index: 99999;

    display: none;
    transition: all .5s;
    
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.sub-bar.visible{
    display: block;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.filter-explore{
    position: fixed;
    width: 100%;
    top: 68px;
    left: 0px;
    height: 64px;
    background: transparent;
    z-index: 99999;

    display: flex;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow:    0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow:         0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.filter-explore ul a{
    font-size: 2rem;
}

.filter-bar{
    position: fixed;
    width: 100%;
    top: 68px;
    left: 0px;
    height: 66px;
    background: rgba(0,96,100,.6);
    z-index: 99999;

    display: none;
    transition: all .5s;

    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.filter-bar ul a, .filter-explore ul a{
    font-size: 2rem;
}

.filter-bar ul, .filter-explore ul{
    max-width: 100%;
}

.filter-bar.visible{
    display: flex;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.filter-bar.show{
    display: flex;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.sub-bar.input-field label {
    font-size: 2rem;
}

#map .sub-bar form .input-field label{
    font-size: 2rem;
}

#map .sub-bar form .input-field input[type=search]+label{
    font-size: 2rem;
    color: white;
}

#map .sub-bar form .input-field input.active{
    background: black;
}


#search{
    width: 100%;
    background: rgba(255,255,255,.1);  
}

#search-bar{
    width: 100%;
}

.fix-box-shadow-footer{
    -webkit-box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px -10px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px -10px 15px 0px rgba(0, 0, 0, 0.2);
}
/*####### FLOAT FORM ############################################################################################################*/
/* label color */
.aside-form.input-field label {
    color: #b2ebf2;
}

.aside-form.input-field {
    color: #e0f7fa;
}

/* label focus color */
.aside-form.input-field input:focus + label {
    color: #e0f7fa;
}
/* label underline focus color */
.aside-form.input-field input:focus {
    border-bottom: 1px solid #e0f7fa ;
    box-shadow: 0 1px 0 0 #e0f7fa ;
}
/* label underline color */
.aside-form.input-field input {
    border-bottom: 1px solid #b2ebf2 ;
    box-shadow: 0 1px 0 0 #b2ebf2 ;
}
/* valid color */
.aside-form.input-field input.valid {
    border-bottom: 1px solid #b2ebf2;
    box-shadow: 0 1px 0 0 #b2ebf2;
}
/* invalid color */
.aside-form.input-field input.invalid {
    border-bottom: 1px solid #00b8d4 ;
    box-shadow: 0 1px 0 0 #00b8d4 ;
}
/* icon prefix focus color */
.aside-form.input-field .prefix.active {
    color: #e0f7fa;
}
/* icon prefix color */
.aside-form.input-field .prefix {
    color: #b2ebf2;
}
.fix-prefix-position{
    top:20%;
}
.aside-form.button {
    color: #b2ebf2;
    background: #006064;
}
/*##############################################################################################################################*/
.cartodb-logo, .leaflet-control-attribution, .leaflet-control{
    display: none;
    opacity: 0;
}

.text-justify{
    text-align: justify;
    padding: 5px;
}

.card a{
    font-size: 16px;
}

div.cartodb-infowindow {
    background-color: #fff;
}

div.cartodb-popup.v2.header.blue div.cartodb-popup-header {
    background: #006064;
}

div.cartodb-popup.v2 div.cartodb-popup-content-wrapper {
    padding: 15px;
    background: #fff;
}

div.cartodb-popup.v2.header div.cartodb-popup-header {
    position: relative;
    width: auto;
    height: auto;
    max-height: 100px;
    overflow: hidden;
    padding: 17px 12px;
}

div.cartodb-popup div.cartodb-popup-content {
    text-align: justify;
}

div.cartodb-infowindow {
    background-color: transparent; 
}

div.cartodb-legend-stack {
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: none;
    webkit-box-shadow: rgba(0,0,0,0) 0 0 0px 0px;
    -moz-box-shadow: rgba(0,0,0,0) 0 0 0px 0px;
    box-shadow: rgba(0,0,0,0) 0 0 0px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px solid #999;
    background: transparent;
    z-index: 0;
    cursor: text;
}

div.cartodb-searchbox{
    float: left;
    margin: 100px 0 0 20px;
    background: rgba(0,0,0,.0);
}

div.cartodb-zoom{
    float: left;
    margin: 150px 0 0 -140px;
    background: rgba(0,0,0,.0);   
}

div.cartodb-zoom a.zoom_in{
    border-bottom: 1px solid #aaa;
}

div.cartodb-zoom a{
    width: 26px;
}